<%- include("header") -%>

<h2>HOLA</h2>
<p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Ipsa nam repellendus consectetur quibusdam assumenda deleniti molestiae architecto iusto non sequi, iure! Porro magni, alias placeat inventore natus, debitis atque est.</p>

<%- include("footer") -%>